<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>비밀번호 재설정 인증번호 발급</h3>
    <p>안녕하세요🌟 개발일지 프로젝트 Prolog 입니다.<br>
        비밀번호 재설정 시 사용될 인증번호를 발급해드립니다.</p>
    <br>
    <div align="center" style="border:1px solid black;">
        <p style=margin:20px;">
            인증 번호 입니다<br>
            ❗5분 내로 입력해주세요❗<br>
        </p>
        <div style="color:blue" th:text="${code}"></div>
    </div>
</body>
</html>